body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 7px;
}
.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
}
.main-content {
    padding: 20px;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.caixa {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    width: 500px;
    height:500px ;
}