body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 7px;
}
.header {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    padding: 15px;
    
}
.main-content {
    padding: 20px;
}
footer{
    background-color: #000000;
    text-align: center; /* Alinha o texto ao centro */
    padding: 10; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    position: absolute; /* Posiciona o rodapé */
    bottom: 1; /* Alinha ao fundo da página */
    font-size: 1rem; /* Tamanho da fonte */
    color:#f9f9f9;

}

.caixa {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    width: 100px;
    height:100px ;
}
.grid-container {
    display: grid; /* Ativa o Grid */
    grid-template-columns: repeat(3, 200px);
    gap: 10px; /* Espaçamento entre as caixas */
}
.logo{
    width: 50px;
}
.textoLogo{
    font-size: 8px;
}
.PedidosConta{
    position: absolute;
    top: 0; 
    right: 0; 
    padding: 5px; 
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    color: #333;
}
.grid-containerP {
    display: grid; /* Ativa o Grid */
    grid-template-columns: repeat(2, 100px);
    gap: 1px; /* Espaçamento entre as caixas */
}
.caixaP {
    display: flex;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 2px ;
    background-color: #f9f9f9;
    width: 70px;
    height:10px ;
    justify-content: center;
    border-radius: 15px;
    align-items: center;

    
}
.caixaNova{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 2px;
    background-color: #f9f9f9;
    width: 172px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
}
.carrinho{
    font-size: 15px;
    position: absolute;
    top: 30px; 
    right: 15px; 
    padding: 5px; 
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    color: #333;
}
 .sequenciaCaixas { 
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}

 .caixaSequencia { 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 2px;
    background-color: #f9f9f9;
    width: 90px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    color: #333;
    flex-grow: 1;
    font-size: medium;
 }
 .caixadev { 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 2px;
    background-color: #f9f9f9;
    width: 110px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    color: #333;
   font-size: medium;
 }
