body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 7px;
}
.header {
    background-color: #038C8C;
    color: rgb(255, 255, 255);
    padding: 15px;
    position: relative;
    box-shadow: 0px 12px 9px rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.logo{
    width: 50px;
}
.textoLogo{
    font-size: 8px;
}
.PedidosConta{
    position: absolute;
    top: 0; 
    right: 0; 
    padding: 5px; 
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    color: #333;
}
.grid-containerP {
    display: grid; /* Ativa o Grid */
    grid-template-columns: repeat(2, 100px);
    gap: 1px; /* Espaçamento entre as caixas */
}
.caixaP {
    display: flex;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 2px ;
    background-color: #f9f9f9;
    width: 70px;
    height:10px ;
    justify-content: center;
    border-radius: 15px;
    align-items: center;

    
}
.sequenciaCaixas { 
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}

 .caixaSequencia { 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 2px;
    background-color: #f9f9f9;
    width: 90px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    color: #333;
    flex-grow: 1;
    font-size: medium;
 }
 .caixaNova{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 2px;
    background-color: #f9f9f9;
    width: 172px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
}
.carrinho{
    font-size: 15px;
    position: absolute;
    top: 30px; 
    right: 15px; 
    padding: 5px; 
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    color: #333;
}
/* essa merda aqui de cima é o cabeçalho q eu demorei horas so PQ N SABIA USAR A PORRA DA DIV
agora é a parte do story da pagina*/

.story{
    position: relative;
    height: 100px;
    box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.3);
    background-color: #535353;
    display: flex;
    justify-content: center;
    
}

.item{
    scroll-snap-align: center;
    
}

.bolas{
    height: 80px;
    width: 80px;
    background-color: #000000;
    border-radius: 90px;
    margin: 5px;
    margin-left: 15px; 
       
}
.button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
    
}

.button--antes{
    left: 10px;
    
    
}

.button--prox{
    right: 10px;
}

.bolas-ordenadas {
    display: flex;
    gap: 10px; 
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    transition: transform 0.5s ease;
    
}


/* agora o main*/

.main-content {
    background-color: #b4a8cb;
    padding: 20px;
    justify-items: center;
    
    

}


/* agora o footer*/
footer{
    background-color: #000000;
    text-align: center; /* Alinha o texto ao centro */
    padding: 10; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    position: absolute; /* Posiciona o rodapé */
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 1rem; /* Tamanho da fonte */
    color:#f9f9f9;
}


.vermelho{
    background-color: red;
}


